/*#bx-admin-prefix .adm-input-file-top-shift {*/
/*    top: 0;*/
/*    margin-bottom: 0 !important;*/
/*}*/
/*#bx-admin-prefix .adm-input-cont-bordered {*/
/*    border-bottom: 1px solid #e4e7e7;*/
/*    padding: 0 0 5px 0;*/
/*    margin: 0 0 5px 0!important;*/
/*}*/
/*#bx-admin-prefix .adm-input-file-control {*/
/*    margin-bottom: 0 !important;*/
/*}*/
/*#bx-admin-prefix .adm-input-file-ex-wrap {*/
/*    margin: 0;*/
/*}*/
select option:checked {
    color: black;
    background: darkgray;
}